<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerName" value="https://localhost" />
    <add key="ServerPort" value="5050" />
    <add key="RioUsername" value="spectra" />
    <add key="RioPassword" value="spectra" />
    <add key="Proxy" value="" />

    <add key="ClusterName" value="ep_net_sdk_tests" />

    <add key="DeviceName" value="sm25-2" />
    <add key="MgmtInterface" value="sm25-2-mgmt.eng.sldomain.com" />
    <add key="DataInterface" value="sm25-2-10g.eng.sldomain.com" />
    <add key="Username" value="Administrator" />
    <add key="Password" value="spectra" />

    <add key="BrokerName" value="net_archive_test" />
    <add key="BrokerName2" value="net_archive_test_2" />
  </appSettings>
</configuration>