<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerName" value="http://localhost"/>
    <add key="ServerPort" value="5050"/>
    <add key="UserName" value="spectra"/>
    <add key="Password" value="spectra"/>
    <add key="Proxy" value="http://localhost:8888"/>
  </appSettings>
</configuration>