<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerName" value="http://localhost"/>
    <add key="ServerPort" value="5050"/>
    <add key="UserName" value="spectra"/>
    <add key="Password" value="spectra"/>
    <add key="Proxy" value=""/>

    <add key="ArchiveName" value="net_archive_test"/>

    <add key="DeviceName" value="sm2u-11"/>
    <add key="Endpoint" value="sm2u-11-mgmt.eng.sldomain.com"/>
    <add key="Username" value="Administrator"/>
    <add key="Password" value="spectra"/>
  </appSettings>
</configuration>