<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerName" value="http://localhost"/>
    <add key="ServerPort" value="5050"/>
    <add key="UserName" value="spectra"/>
    <add key="Password" value="spectra"/>
    <add key="Proxy" value=""/>

    <add key="ClusterName" value="ep_net_sdk_tests"/>

    <add key="DeviceName" value="sm25-2"/>
    <add key="Endpoint" value="sm25-2-mgmt.eng.sldomain.com"/>
    <add key="Username" value="Administrator"/>
    <add key="Password" value="spectra"/>

    <add key="ArchiveName" value="net_archive_test"/>

  </appSettings>
</configuration>